
<html lang="en">
<header>
<header class="text-center">
<h1> Salut toi ! </h1>
</header>

<body class="text-center">

<p>Tu es connecté(e) à Eventbrite ! Le mail associé à ton compte est : <%= @user.email %></p>
